<%- include partials/header.ejs %>

<div class="column center">
  <h1>New review for <%= album.title %></h1>
  <br>
  <form class="column center" action="index.html" method="post">
    <textarea name="name" rows="4" cols="70" required></textarea>
  <br>
  <br>
  <br>
  <button type="submit" name="button">Submit</button>
  </form>

</div>

<%- include partials/footer.ejs %>
