<%- include partials/header.ejs %>

  <h1>Please Sign In</h1>
  <h2> The page you are trying to view is only available to logged in users. Please use the links in the upper right hand corner to create an account or login with an existing account</h2>

<%- include partials/footer.ejs %>
