<%- include partials/header.ejs %>

<div class="row-sp-btwn">

  <div class="one-third">
    <img src="/pictures/profile.jpg" alt="User's profile photo">
  </div>

  <div class="two-thirds">
    <h1>Username</h1>
  </div>

</div>

<%- include partials/footer.ejs %>
