<%- include partials/header.ejs %>

<div class="column center">

  <h1>Sign In</h1>

  <form class="column center" action="index.html" method="post">
    <h3>Email:</h3>
    <input type="text" name="email" value="">
    <h3>Password:</h3>
    <input type="text" name="password" value="">
    <br>
    <br>
    <button type="button" name="button">Sign In</button>
  </form>

</div>

<%- include partials/footer.ejs %>
